@import "tailwindcss";

@theme {
  --color-bg: #0a0a0a;
  --color-surface: #161616;
  --color-surface-light: #242424;
  --color-accent: #7C3AED;
  --color-border: #27272A;
  --color-text-main: #FFFFFF;
  --color-text-dim: #A1A1AA;
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

